footer {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    border-top: 1px solid white;
    font-family: var(--primary-font);
    font-weight: 400;
}

.footer-upper {
    display: flex;
    justify-content: space-between;
    height: 130px;
}

.footer-upper-left, .footer-upper-right {
    display: flex;
    align-items: center;
    font-size: 30px;

    padding: 35px;
}


.footer-upper-left img, .footer-upper-left a {
    height: 90px;
    width: 90px;
    transition: 0.75s;
}

.footer-upper-left a {
    margin-left: 80px;
}

.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);

    font-size: 20px;
}


