.main {
    display: flex;
    flex-direction: column;
    height: 1020px;
    align-items: center;
    justify-content: center;
}

.main a {
    margin-top: 50px;
    font-family: var(--primary-font);
    font-weight: 400;
    font-style: normal;
}


.about {
    display: flex;
    flex-direction: column;
    height: 1080px;
    padding-top: 100px;
}


.about-container {
    display: flex;
    justify-content: space-around;
    margin-top: 350px;
}

.about-column {
    flex: 0.35;
    font-size: 35px;
    text-align: justify;
    font-family: var(--primary-font);
    font-weight: 400;
    font-style: normal;
}

.services {
    display: flex;
    flex-direction: column;
    height: 1080px;
    padding-top: 100px;
    align-items: center;
}

.services-container {
    width: 100%;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}

.service-item {
    width: 500px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.service-item img {
    width: 100px;
    height: 100px;
}

.service-item-description {
    margin-left: 20px;
    font-size: 20px;
    text-align: justify;
    font-family: var(--primary-font);
    font-weight: 400;
    font-style: italic;
}

.service-item-description p:first-child {
    font-style: normal;
    margin-bottom: 10px;
    font-size: 30px;
}


.products {
    display: flex;
    height: 1080px;
    padding-top: 100px;
    flex-direction: column;
}

.container::before, .container::after {
    content: "";
    flex: 1;
}

.swiper {
    margin-top: 50px;
    justify-self: center;
    align-self: center;
    width: var(--carousel-size-x);
    height: var(--carousel-size-y);
}

.image-carousel {
    width: var(--carousel-size-x);
    height: var(--carousel-size-y);
}
