.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.notFound a {
    margin-top: 5px;
    font-family: var(--primary-font);
}