.signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group p {
    font-family: var(--primary-font);
    font-size: 1.30vw;
    align-self: center;
    margin-top: 1.85vh;
    margin-bottom: 1.85vh;
}

.form-group input:not([type=submit]) {
    margin-bottom: 0.925vh;
}

.form-group input:last-of-type:not() {
    margin-bottom: 0;
}