@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');
@import "header.css";

* {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center linear-gradient(#175B43, #6FE3B9) ;
    color: #fff;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
}


.button-outline {
    display: block;
    color: #fff;
    font-size: 25px;
    background: none;
    border: 1px solid white;
    border-radius: 13px;
    padding: 10px 30px 10px 30px;
    transition: 0.8s;
    cursor: pointer;
}

.button-outline:hover {
    color: #4e4e4e;
    background: white;
}
